@inherits TestContext

@code
{
    [Fact]
    public void Test()
    {
        var cut = Render<ThemeSelector>(
    @<ThemeSelector><CounterWithTheme /></ThemeSelector>
    );
        cut.Find("button").MarkupMatches(
    @<button class="btn btn-primary">Click me</button>
    );
        cut.Instance.RedTheme();
        cut.Render();
        cut.Find("button").MarkupMatches(
    @<button class="btn btn-danger">Click me</button>
    );
    }
}